<section class="login-section">
    <a routerLink="" class="btn-regresar">
        <i class="fa-solid fa-arrow-left"></i> Regresar
    </a>
    <form class="login-form">
        <h2>Restablecer contraseña</h2>
        <p>Ingrese su correo electrónico para recibir un enlace de recuperación para restablecer su contraseña.</p>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Correo:</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Ingrese un correo electronico"
                aria-describedby="emailHelpBlock" required>
        </div>

        <button type="button" class="btn btn-primary" routerLink="/RestablecerPasword">Enviar Correo</button>
        <div class="login-links">
    </div>
    </form>
</section>
<app-pie-pagina></app-pie-pagina>
