<app-barra-navegacion></app-barra-navegacion>
<!-- ===== HERO SECTION ===== -->
<section id="inicio" class="hero">
  <div class="hero-content">
    <h1>Little Falls</h1>
    <p>Brindamos cuidado profesional y amoroso a tu mascota.<br>
      ¡Tu mejor amigo en las mejores manos!</p>
    <a (click)="agendarCita()" class="btn" style="cursor: pointer;">Agenda tu cita</a>
  </div>
</section>

<!-- ===== NOSOTROS ===== -->
<section id="nosotros" class="nosotros">
  <div class="nosotros-img">
    <img src="/assets/imagenNosotros.jpg" alt="Clínica Little Falls">
  </div>
  <div class="nosotros-text anim-bottom">
    <h2>Sobre Nosotros</h2>
    <p>En Little Falls, cuidamos la salud y bienestar de tu mascota con un enfoque integral y humano.
      Tambien brindamos un servicio de calidad a través de la actualización constante que demanda la medicina
      veterinaria y fomentar el amor, cuidado y bienestar de las mascotas, garantizando una atención
      integral. Nosotros somos capases de enfrentar y superar los retos de una profesión que cada día
      demanda más empeño, compromiso y sacrificio, creando así un liderazgo en la atención veterinaria de las
      pequeñas especies.</p>
  </div>
</section>
<!-- ===== CONSULTA DE ESPECIALIZADA ===== -->
<section id="especialidades" class="especialidades">
  <div class="especialidades-contenido">

    <!-- Listas de servicios -->
    <div class="especialidades-listas">
      <ul>
        <li>➤ Exóticos</li>
        <li>➤ Felinos</li>
        <li>➤ Oftalmología</li>
        <li>➤ Neurología</li>
      </ul>
      <ul>
        <li>➤ Endocrinología</li>
        <li>➤ Ortopedia y Traumatología</li>
        <li>➤ Cardiología</li>
        <li>➤ Dermatología</li>
      </ul>
      <ul>
        <li>➤ Etología y comportamiento canino</li>
        <li>➤ Fisioterapia</li>
        <li>➤ Nefrología</li>
        <li>➤ Odontología y más...</li>
      </ul>
    </div>

    <!-- Texto lateral -->
    <div class="especialidades-texto">
      <h2>CONSULTA<br>ESPECIALIZADA</h2>
      <p>
        Contamos con una amplia experiencia en las distintas especialidades médicas
        para el tratamiento de la enfermedad de tu mascota.
      </p>
      <p class="agenda">
        Contáctanos y <a (click)="agendarCita()" style="cursor: pointer;">agenda tu cita.</a>
      </p>
    </div>
  </div>
</section>
<section id="equipo" class="equipo-section">
  <h2>EQUIPO</h2>
  <div class="equipo-galeria">
    <div class="miembro">
      <img src="/assets/erick.jpg" alt="Bryan" />
      <div class="overlay">
        <h3>Erick Mejia</h3>
        <p>Profesional graduado en la Universidad de Gramma, con una Maestría
          obtenida en la Universidad Estatal Amazónica. Cuenta con una
          certificación en Medicina Interna de Pequeñas Especies otorgada por la
          Universidad Central del Ecuador. Su práctica se centra en el manejo de
          emergencias veterinarias y en cuidados intensivos.
        </p>
      </div>
    </div>

    <div class="miembro">
      <img src="/assets/BryanAntamba.jpg" alt="Bryan" />
      <div class="overlay">
        <h3>Bryan Antamba</h3>
        <p>Doctor en Medicina Veterinaria y Zootecnia. M. S, Diplomado,
          Certificado, ABC Trauma. 25 años de experiencia en Medicina y
          Cirugía de pequeños animales y exóticos. Director Médico
          Hospital veterinario LittleFalls.
        </p>
      </div>
    </div>

    <div class="miembro">
      <img src="/assets/esteban.jpg" alt="Bryan" />
      <div class="overlay">
        <h3>Esteban Sanchez</h3>
        <p>Médico Veterinario especializado en diagnóstico clínico y
          medicina interna de pequeñas especies. Con capacitación en
          manejo de mascotas en estado críticos, terapia intensiva
          y evaluación integral de patologías complejas como de
          gran riesgo.
        </p>
      </div>
    </div>

    <div class="miembro">
      <img src="/assets/Steven.jpg" alt="Bryan" />
      <div class="overlay">
        <h3>Steven Cabascango</h3>
        <p>Especialista en cirugía de tejidos blandos y procedimientos
          quirúrgicos en pequeños animales. Capacitadoen técnicas modernas 
          de anestesia, control de dolor y manejo quirúrgico avanzado. 
          Orientado a la recuperación segura y bienestar postoperatorio.
        </p>
      </div>
    </div>
  </div>
</section>
<app-pie-pagina></app-pie-pagina>