<app-barra-navegacion></app-barra-navegacion>
<!-- ===== HERO SECTION ===== -->
<section id="inicio" class="hero">
  <div class="hero-content">
    <h1>Little Falls</h1>
    <p>Brindamos cuidado profesional y amoroso a tu mascota.<br>
      ¡Tu mejor amigo en las mejores manos!</p>
    <a routerLink="/AgendamientoCita" class="btn">Agenda tu cita</a>
  </div>
</section>

<!-- ===== NOSOTROS ===== -->
<section id="nosotros" class="nosotros">
  <div class="nosotros-img">
    <img src="/assets/imagenNosotros.jpg" alt="Clínica Little Falls">
  </div>
  <div class="nosotros-text anim-bottom">
    <h2>Sobre Nosotros</h2>
    <p>En Little Falls, cuidamos la salud y bienestar de tu mascota con un enfoque integral y humano.
      Tambien brindamos un servicio de calidad a través de la actualización constante que demanda la medicina
      veterinaria y fomentar el amor, cuidado y bienestar de las mascotas, garantizando una atención
      integral. Nosotros somos capases de enfrentar y superar los retos de una profesión que cada día
      demanda más empeño, compromiso y sacrificio, creando así un liderazgo en la atención veterinaria de las
      pequeñas especies.</p>
  </div>
</section>
<!-- ===== CONSULTA DE ESPECIALIZADA ===== -->
<section id="especialidades" class="especialidades">
  <div class="especialidades-contenido">

    <!-- Listas de servicios -->
    <div class="especialidades-listas">
      <ul>
        <li>➤ Exóticos</li>
        <li>➤ Felinos</li>
        <li>➤ Oftalmología</li>
        <li>➤ Neurología</li>
      </ul>
      <ul>
        <li>➤ Endocrinología</li>
        <li>➤ Ortopedia y Traumatología</li>
        <li>➤ Cardiología</li>
        <li>➤ Dermatología</li>
      </ul>
      <ul>
        <li>➤ Etología y comportamiento canino</li>
        <li>➤ Fisioterapia</li>
        <li>➤ Nefrología</li>
        <li>➤ Odontología y más...</li>
      </ul>
    </div>

    <!-- Texto lateral -->
    <div class="especialidades-texto">
      <h2>CONSULTA<br>ESPECIALIZADA</h2>
      <p>
        Contamos con una amplia experiencia en las distintas especialidades médicas
        para el tratamiento de la enfermedad de tu mascota.
      </p>
      <p class="agenda">
        Contáctanos y <a routerLink="/AgendamientoCita">agenda tu cita.</a>
      </p>
    </div>
  </div>
</section>
<section id="equipo" class="equipo-section">
  <h2>EQUIPO DE DESARROLLO</h2>
  <div class="equipo-galeria">
    <div class="miembro">
      <img src="/assets/erick.jpg" alt="Bryan" />
      <div class="overlay">
        <h3>Erick Mejia</h3>
        <p>Colaborador en el desarrollo del frontEnd
          y estilos CSS en los componentes y estructura
          de HTML apoyado de Bootstrap.
        </p>
      </div>
    </div>

    <div class="miembro">
      <img src="/assets/BryanAntamba.jpeg" alt="Bryan" />
      <div class="overlay">
        <h3>Bryan Antamba</h3>
        <p>Desarrollador principal de FrontEnd, arquitectura
          desarrollo de componentes, estructura HTML con apoyo
          de Bootstrap y estilos CSS mejor presentados.
        </p>
      </div>
    </div>

    <div class="miembro">
      <img src="/assets/esteban.jpg" alt="Bryan" />
      <div class="overlay">
        <h3>Esteban Sanchez</h3>
        <p>Colaborador en el desarrollo del backend, servicios,
          desarrollo en la base de datos, APIS, Edpoints y estructura
          del backend.
        </p>
      </div>
    </div>

    <div class="miembro">
      <img src="/assets/BryanAntamba.jpeg" alt="Bryan" />
      <div class="overlay">
        <h3>Steven Cabascango</h3>
        <p>Desarrollador principal de backend de la pagina web,
          desarollador de services, endpoints, APIS, BDD, y estructura
          de servidor y estructura
        </p>
      </div>
    </div>
  </div>
</section>
<app-pie-pagina></app-pie-pagina>