<app-barra-navegacion-veterinario></app-barra-navegacion-veterinario>
<section class="fondo-lista-usuarios">
    <h2 class="table-title">Lista de citas medicas</h2>
    <table class="custom-table">
        <thead>
            <tr>
                <th class="col-nombre">Nombre</th>
                <th class="col-apellido">Apellido</th>
                <th class="col-correo">Correo</th>
                <th class="col-telefono">Telefono</th>
                <th class="col-nombreMascota">Nombre de la Mascota</th>
                <th class="col-edadMascota">Edad mascota</th>
                <th class="col-generoMascota">Genero de Mascota</th>
                <th class="col-tipoMascota">Tipo de Mascota</th>
                <th class="col-descripcion">Descripcion</th>
                <th class="col-descripcion">Crear historial</th>
                <th class="col-acciones">Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="col-nombre">Bryan</td>
                <td class="col-apellido">Justin</td>
                <td class="col-correo">bryan123@gmail.com</td>
                <td class="col-telefono">0995336712</td>
                <th class="col-nombreMascota">Maxi</th>
                <th class="col-edadMascota">3</th>
                <th class="col-generoMascota">Macho</th>
                <th class="col-tipoMascota">Gato</th>
                <td class="col-descripcion">Mi mascota es un gato angora de 3 años que esta teniendo problemas al
                    caminar y
                    nose que es y necesito su ayuda para que le revicen porfavor.</td>
                    <td>
                        <button class="btn-action btn-Regitro">Registro clinico</button>
                    </td>
                <td class="col-acciones">
                    <button class="btn-action btn-edit">Editar</button>
                    <button class="btn-action btn-revisado">Revisado</button>
                    <button class="btn-action btn-delete">Eliminar</button>

                </td>
            </tr>

            <tr>
                <td class="col-nombre">María</td>
                <td class="col-apellido">Gómez</td>
                <td class="col-correo">maria4000@gmail.com</td>
                <td class="col-telefono">09178126643</td>
                <th class="col-nombreMascota">Kary</th>
                <th class="col-edadMascota">5</th>
                <th class="col-generoMascota">Hembra</th>
                <th class="col-tipoMascota">Perro</th>
                <td class="col-descripcion">Buenas noches, necesito su ayuda ya que mi perrito de 5 añitos no quiere
                    comer
                    nada y solo pasa acostado y canzado, necesito que me ayuden con mi mascota, les agradeceria mucho.
                </td>
                <td>
                        <button class="btn-action btn-Regitro">Registro clinico</button>
                    </td>
                <td class="col-acciones">
                    <button class="btn-action btn-edit">Editar</button>
                    <button class="btn-action btn-revisado">Revisado</button>
                    <button class="btn-action btn-delete">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
