<app-barra-navegacion></app-barra-navegacion>

<section class="agenda" id="agenda">
  <div class="agenda-contenido">
    <h2>AGENDA TU CITA</h2>
    <div class="linea-decorativa"></div>
    <p>Seleccione el día, hora, y fecha para programar la atencion de su visita médica.</p>

    <div class="dias-container">
      <div class="dia">
        <h3>ESTAMOS DE LUNES A DOMINGO PARA TI Y TU MASCOTA</h3>
        <p class="texto-dia">Nuestros horarios de jornada de trabajo son apartir de lunes a domingo de las semana
          con el horario disponible de 8:00 AM a 9:00 PM. En dias festivos puede cambiar los horarios.</p>
        <p class="texto-dia-secundario">Selecciona su hora y fecha para su atencion.</p>
        <select [(ngModel)]="horaSeleccionada" name="hora">
          <option value="">Seleccionar hora</option>
          <option value="8:30 AM">8:30 AM</option>
          <option value="9:00 AM">9:00 AM</option>
          <option value="10:00 AM">10:00 AM</option>
          <option value="11:00 AM">11:00 AM</option>
          <option value="12:00 PM">12:00 PM</option>
          <option value="1:00 PM">1:00 PM</option>
          <option value="2:00 PM">2:00 PM</option>
          <option value="3:00 PM">3:00 PM</option>
          <option value="4:00 PM">4:00 PM</option>
          <option value="5:00 PM">5:00 PM</option>
          <option value="6:00 PM">6:00 PM</option>
          <option value="7:00 PM">7:00 PM</option>
          <option value="8:00 PM">8:00 PM</option>
        </select>
        <input type="date" class="fecha-cita" [(ngModel)]="fechaSeleccionada" name="fecha" [min]="fechaMinima" (change)="validarFecha($event)">
      </div>
    </div>
    <button class="btn-agendar btn-final" (click)="siguientePaso()">
        Siguiente
    </button>
  </div>
</section>

<app-pie-pagina></app-pie-pagina>