<section class="login-section">
    <a routerLink="" class="btn-regresar">
        <i class="fa-solid fa-arrow-left"></i> Regresar
    </a>
    <form class="login-form">
        <h2>Restablecer contraseña</h2>
        <p>Ingrese una nueva contraseña.</p>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">contraseña:</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Ingrese su nueva contraseña"
                aria-describedby="emailHelpBlock" required>
        </div>
        <button type="button" class="btn btn-primary" routerLink="/Login-LittleFalls">Confirmar</button>
        <div class="login-links">
    </div>
    </form>
</section>
<app-pie-pagina></app-pie-pagina>